/* ------------------------------------------------------------------
                 GENERAL STYLE 
 ------------------------------------------------------------------ */

body {
    font-family: Nova Flat; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 20px;
    background-color: #ffffff;
    color: #EDCC3F;
    margin: 0;
}

section {
    min-height: 400px;
}

h1 {
    font-family: Nova Flat;
    color: #EDCC3F;
    text-align: center;
    margin-bottom: 20px;
}

h2 {
    font-family: Nova Flat;
    color: #669A23;
    text-align: center;
}

h3, h4 {
    font-family: Orbitron;
    color: #838A8C;
    text-align: center;
    margin-bottom: 15px;
}

p {
    font-family: Aldrich; font-weight: 300;
    /* font-size: 18px; */
    line-height: 24px;
}

i {
    color: #838A8C;
}

b {
    color: #669A23;
    font-weight: 400;
}

a {
    color: #6E0B14;
    text-decoration: none;
}

/* 
white #E9EAE5
gray #838A8C
green #669A23
lightbrown #957B54
dark #22332D
*/

/* ------------------------------------------------------------------
                 HEADER STYLE 
 ------------------------------------------------------------------ */

#header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    padding: 10px 0;
    background-color: #14132D;
    color: #EDCC3F;
}

/* ------------------------------------------------------------------
                 CONTENT STYLE 
 ------------------------------------------------------------------ */

 #content {
    margin-top: 40px;
} 

section .section-content {
    max-width: 1000px;
    margin-right: auto;
    margin-left: auto;
    padding: 30px;
    text-align: start;
}

/* ----------- Presentation SECTION STYLE ----------- */

/* ----------- About-Us SECTION STYLE ----------- */

#about-us {
    background-color: #14132D;
}

/* ----------- Nos-Membres SECTION STYLE ----------- */

#nos-membres {
    background-color: #ffffff;
}

/* ----------- Nos-Prestations SECTION STYLE ----------- */

#nos-prestations {
    background-color: #6E0B14;
}

/* ----------- Contact SECTION STYLE ----------- */

#contact {
    background-color: #14132D;
}



span.next a {
    padding: 8px;
    border: #957B54 2px solid;
    border-radius: 10px;
    color: #22332D;
    background-color: #957B54;
    font-family: Orbitron;
    font-size: 15px;
    text-decoration: none;
}

span.next a:hover {
    padding: 10px;
    border-color: #E9EAE5;
    color: #22332D;
    background-color: #E9EAE5;
    text-decoration: none;
    cursor: pointer;
}

.image-container {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.image-container img {
    flex : 0 1 20%;
}

.image-container div {
    padding-left: 10px;
    flex : 1 1 75%;
}

/* ------------------------------------------------------------------
                 FOOTER STYLE 
 ------------------------------------------------------------------ */
 
 #footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 10px 0;
    background-color: #14132D;
    color: #E9EAE5;
}

#footer a {
    color: #6E0B14;
    text-decoration: none;
}
