/* ------------------------------------------------------------------
                 GENERAL STYLE 
 ------------------------------------------------------------------ */

body {
    font-family: 'Special Elite';
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 1em;
    background-color: #ffffff;
    color: #EDCC3F;
    margin: 0;
    background-image: url("petage-jacobins.jpg");
    background-size: cover;
    background-repeat: repeat-x;
    background-attachment: fixed;
    background-position-x: center;
    background-position-y: center;
}

section {
    min-height: 90vh;
}

h1 {
    font-family: 'Lacquer';
    font-size: 46px;
    color: #EDCC3F;
    text-align: center;
    margin: 1.3em 0 2em 0;
    font-weight: normal;
}

h2 {
    font-family: 'Special Elite';
    color: #EDCC3F;
    text-align: center;
    font-weight: normal;  
    font-size: 24px;
}

h3 {
    color: #14132D;
    text-align: center;
    margin-bottom: 1em;
    font-size: 20px;
    font-weight: bold;
}

h4 {
    font-family: 'Lacquer';
    color: #6E0B14;
    text-align: center;
    margin-bottom: 1em;
    font-size: 18px;
}

p {
    /*font-family: Aldrich;*/
    font-weight: 400;
    line-height: 24px;
}

i {
    color: #838A8C;
}

b {
    color: #669A23;
    font-weight: 400;
}

a {
    color: #6E0B14;
    text-decoration: none;
}

/* 
white #E9EAE5
gray #838A8C
green #669A23
lightbrown #957B54
dark #22332D
*/

/* ------------------------------------------------------------------
                 HEADER STYLE 
 ------------------------------------------------------------------ */

#header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    padding: 10px 0;
    background-color: #14132D;
    color: #EDCC3F;
    z-index: 2;
}

.header-content {
    text-align: center;
    font-size: 30px;
    padding: 0.4em;
    font-family: 'Lacquer';
}

/* ------------------------------------------------------------------
                 CONTENT STYLE 
 ------------------------------------------------------------------ */

 #content {
    margin-top: 60px;
} 

section .section-content {
    max-width: 1000px;
    margin-right: auto;
    margin-left: auto;
    padding: 5px 0 30px 0;
    text-align: start;
}

/* ----------- Presentation SECTION STYLE ----------- */
#presentation {
    font-family: 'Fredericka the Great';
}

.big-title {
    font-size: 120px;
    position: absolute;
    top: 45%;
    line-height: 1.2em;
}

/* ----------- About-Us SECTION STYLE ----------- */

#about-us {
    background-color: #14132D;
}

#about-us p {
    color: #ffffff;
}

/* ----------- Nos-Membres SECTION STYLE ----------- */

#nos-membres {
    background-color: #ffffff;
}

/* ----------- Contact SECTION STYLE ----------- */

#contact {
    background-color: #6E0B14;
}



span.next a {
    padding: 8px;
    border: #957B54 2px solid;
    border-radius: 10px;
    color: #22332D;
    background-color: #957B54;
    font-family: Orbitron;
    font-size: 15px;
    text-decoration: none;
}

span.next a:hover {
    padding: 10px;
    border-color: #E9EAE5;
    color: #22332D;
    background-color: #E9EAE5;
    text-decoration: none;
    cursor: pointer;
}

.image-container {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.image-container img {
    flex : 0 1 20%;
}

.image-container div {
    padding-left: 10px;
    flex : 1 1 75%;
}

/* ------------------------------------------------------------------
                 FOOTER STYLE 
 ------------------------------------------------------------------ */
 
 #footer {
     font-family: 'Special Elite';
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 10px 0;
    background-color: #14132D;
    color: #E9EAE5;
}

.footer-content {
    text-align: center;
}

#footer a {
    color: #6E0B14;
    text-decoration: none;
}

/* ------------------------------------------------------------------
                 FLEX LAYOUT
 ------------------------------------------------------------------ */

.columns-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.columns-container > div {
    margin-bottom: 30px;
}

.columns-container p, .columns-container h2{
    padding-left: 0.8em;
    padding-right: 0.8em;
}

.large-6 {
    flex: 0 1 50%; 
}

.large-4 {
    flex: 0 1 33%;  
}

.large-3 {
    flex: 0 1 25%;  
}

/* ------------------------------------------------------------------
                 IMAGE STYLE
 ------------------------------------------------------------------ */

.avatar {
    border-radius: 100%;
    width: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
